.audio-hd-borders {
  padding-left: 2%;
  border-right: 240px solid;
  border-left: 240px solid #fe9c00;
}

.audio-hd-border-lft {
  line-height: .7;
  height: 22%;
  padding-left: 2%;
  border-left: 173px solid #fe9c00;
}

.special-3d-inline {
  font-size: 14rem;
  font-weight: 700;
  position: relative;
  top: -98px;
  float: right;
}

div.wrapper#audiosettings {
  position: relative;
  top: 8%;
  width: 100%;
  height: 78.125%;
  margin: 0;
}

#audiosettings .contents {
  position: fixed;
  top: 7%;
  overflow: hidden;
  width: 99%;
  height: 85%;
}

#audiosettings .dimension2D,
.dimension3D {
  position: static;
}

#audiosettings div.static_parts_bg {
  position: absolute;
  top: 28%;
  width: 100%;
  height: 60.8%;
  background: url(../images/static_elements_720_585.svg) no-repeat 0 77px;
  background-size: 100%;
}

#audiosettings .surround_header {
  line-height: .7;
  position: absolute;
  top: 11.5%;
  left: 4.16667%;
  width: 67%;
  height: 5.8%;
}

#audiosettings div.surround_sound_3D {
  position: absolute;
  top: 2.5%;
  left: 4.2%;
  width: 58.75%;
  height: 5.7%;
}

div.on_off_btns,
div.surround_btn_sets,
div.dimension_2D,
div.dimension_3D {
  position: initial;
}

div.on_btn {
  font-size: 1.4em;
  line-height: 1.9;
  position: absolute;
  top: 2.5%;
  left: 82%;
  width: 14.4%;
  height: 5%;
  text-align: center;
  color: #c4c4c4;
  box-shadow: inset 0 0 20px #53b5ce;
}

div.on_btn.on {
  color: #fff;
  background-color: #53b5ce;
}

div.off_btn {
  font-size: 1.4em;
  line-height: 1.9;
  position: absolute;
  top: 2.5%;
  left: 66%;
  width: 14.4%;
  height: 5%;
  text-align: center;
  color: #c4c4c4;
  box-shadow: inset 0 0 20px #53b5ce;
}

div.off_btn.on {
  color: #fff;
  background-color: #53b5ce;
  box-shadow: none;
}

div.audioDimensionTxt {
  font-weight: 700;
  position: absolute;
  top: 21%;
  right: 38.4%;
  width: 3.6%;
  height: 1.5%;
  color: #fff;
  /* right and top */
  /* left:44.335%;
top:11.5%;
background-size:100%*/
}

div.audioDimensionTxt.on {
  /* background:url(../images/3d_txt_26_15.svg) no-repeat; '3d appears when on is clicked. This is a graphic though */
  
  background-size: 100%;
}

div.surround_btns.on {
  display: block;
}

div.surround_btns {
  display: none;
}

div.surround_btn {
  position: absolute;
  top: 15.5%;
  width: 20.42%;
  height: 8%;
  box-shadow: inset 0 0 20px #53b5ce;
}

div.meridian2D {
  left: 4.2%;
  background: url(../images/meridian2D_147_80.svg) no-repeat;
  background-size: 100%;
}

div.meridian2D.on {
  background: url(../images/meridian2D_hover_147_80.svg) no-repeat;
  background-size: 100%;
}

div.meridian3D {
  left: 4.2%;
  background: url(../images/meridian_147_80.svg) no-repeat;
  background-size: 100%;
}

div.meridian3D.on {
  background: url(../images/meridian_hover_147_80.svg) no-repeat;
  background-size: 100%;
}

div.dolby {
  left: 27%;
  background: url(../images/dolby_147_80.svg) no-repeat;
  background-size: 100%;
}

div.dolby.on {
  background: url(../images/dolby_hover_147_80.svg) no-repeat;
  background-size: 100%;
}

div.dts {
  left: 51%;
  background: url(../images/dts_147_80.svg) no-repeat;
  background-size: 100%;
}

div.dts.on {
  background: url(../images/dts_hover_147_80.svg) no-repeat;
  background-size: 100%;
}

div.stereo {
  font-size: 1.4em;
  line-height: 3;
  left: 76%;
  text-align: center;
  color: #c4c4c4;
  box-shadow: inset 0 0 20px rgba(83, 181, 206, .8);
}

div.stereo.on {
  color: #fff;
  background-color: rgba(83, 181, 206, .3);
}

div.incremental_btn {
  position: absolute;
  z-index: 5;
  width: 7.5%;
  height: 5.8%;
}

div.plus {
  background: url(../images/plus_54_58.svg) no-repeat;
  background-size: 100%;
}

div.plus:active,
.plus:hover {
  background: url(../images/plus_hover_54_58.svg) no-repeat;
  background-size: 100%;
}

div.incremental_btn.plus {
  top: 42.5%;
}

div.vol.incremental_btn.plus {
  top: 97.5%;
  left: 5.5%;
}

div.minus {
  background: url(../images/minus_54_58.svg) no-repeat;
  background-size: 100%;
}

div.minus:active,
.minus:hover {
  background: url(../images/minus_hover_54_58.svg) no-repeat;
  background-size: 100%;
}

div.incremental_btn.minus {
  top: 90%;
}

div.vol.incremental_btn.minus {
  top: 97.5%;
  left: 89%;
}

div.incremental_btn.bass {
  left: 6.8%;
}

div.incremental_btn.treble {
  left: 22.6%;
}

div.incremental_btn.sub {
  left: 37.9%;
}

div.tone_txt {
  font-size: 2em;
  position: absolute;
  top: 38%;
  width: 7%;
  text-align: center;
  color: #fff;
}

div.bass_display {
  left: 6.9%;
}

div.treble_display {
  left: 22.9%;
}

div.sub_display {
  left: 38.3%;
}

div.noUiSliderVolumeBack {
  position: absolute;
  top: 96.75%;
  left: 16%;
  width: 68.5%;
  height: 7.5%;
  background: url(../images/most_bar_off.svg) no-repeat;
}

div.car_top_view {
  position: absolute;
  top: 45%;
  left: 59.5%;
  width: 30%;
  height: 67%;
  background: url(../images/car_top_view_215_478.png) no-repeat 0 0;
  background-size: 100%;
}

div.bf_btn {
  position: absolute;
  background-size: 100%;
}

div.balanceBtn {
  top: 58.5%;
  width: 8%;
  height: 4%;
}

div.fadeBtn {
  left: 60.77%;
  width: 27%;
  height: 5.8%;
}

div.right {
  left: 89%;
  background: url(../images/move_right_58_194.svg) no-repeat center center;
  background-size: 100%;
}

div.right:hover,
.right:active {
  background: url(../images/move_right_hover_58_194.svg) no-repeat 50%;
  background-size: 100%;
}

div.left {
  left: 51%;
  background: url(../images/left_move_58_194.svg) no-repeat center center;
  background-size: 100%;
}

div.left:hover,
.left:active {
  background: url(../images/left_move_hover_58_194.svg) no-repeat 50%;
  background-size: 100%;
}

div.up {
  top: 36%;
  background: url(../images/up_move_194_58.svg) no-repeat;
  background-size: 100%;
}

div.up:hover,
.up:active {
  background: url(../images/up_move_hover_194_58.svg) no-repeat;
  background-size: 100%;
}

div.down {
  bottom: 5.5%;
  background: url(../images/down_move_58_194.svg) no-repeat;
  background-size: 100%;
}

div.down:hover,
.down:active {
  background: url(../images/down_move_hover_58_194.svg) no-repeat;
  background-size: 100%;
}

div.crossHairContainer {
  position: absolute;
  top: 41%;
  left: 59%;
  overflow: hidden;
  width: 30%;
  height: 47.8%;
}

div.crosshair {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url(../images/crosshair_430_952.svg) no-repeat;
  background-size: 100%;
}
